<% include ../partials/header%>
        <header class="container" style="text-align: center; margin: 20px auto;">
            <h1>Edit comment</h1> 
        </header>
       
        <main class="container" style="width: 30%; margin: 0 auto;">
            <form action="/computers/<%= computer_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="text">Comment</label>
                    <textarea name="comment[text]" class="form-control" id="text"
                        placeholder="Enter comment..." required><%= comment.text %>
                    </textarea>
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit!</button>
            </form>
            <a href="/computers/<%= computer_id %>">Go back</a>
        </main>

       
<% include ../partials/footer%>