<% include partials/header%>

        <h1>Welcome to Antique Computer!</h1>
        <p>You found the most comprehensive gallery of good ol' kick ass computers and arcade games.</p>
        <a href="/computers">Check out our computers.</a>

<% include partials/footer%>